<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/empty.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <group ns="robot0">
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find lizi_description)/urdf/fourWheel.urdf.xacro'" />  
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model robot0 -x 2.9 -y 0.25 -z 0 -Y 3.06 -param robot_description" />
  </group>

  <group ns="robot1">
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find lizi_description)/urdf/fourWheel.urdf.xacro'" />  
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model robot1 -x 2.9 -y -1.26 -z 0 -Y 3.06 -param robot_description" />
  </group>

  <group ns="robot2">
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/turtlebot3_waffle.urdf.xacro'" />  
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model robot2 -x 1.0 -y -3.25 -z 0 -Y 1.6 -param robot_description" />
  </group>

  <group ns="robot3">
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/turtlebot3_burger.urdf.xacro'" />  
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model robot3 -x -0.31 -y -3.24 -z 0 -Y 1.6 -param robot_description" />
  </group>

  <group ns="robot4">
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/turtlebot3_waffle.urdf.xacro'" />  
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model robot4 -x -2.7 -y -1.25 -z 0 -Y 0 -param robot_description" />
  </group>

  <group ns="robot5">
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/turtlebot3_waffle.urdf.xacro'" />  
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model robot5 -x -2.7 -y 0.21 -z 0 -Y 0 -param robot_description" />
  </group>

  <group ns="robot6">
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find lizi_description)/urdf/fourWheel.urdf.xacro'" />  
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model robot6 -x -0.28 -y 2.47 -z 0 -Y -1.6 -param robot_description" />
  </group>
  
  <group ns="robot7">
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/turtlebot3_burger.urdf.xacro'" />  
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model robot7 -x 1.0 -y 2.47 -z 0 -Y -1.6 -param robot_description" />
  </group>

 
</launch>
